
.added, .removed, .line-numbers, .filename {
  font-weight: bold;
}

.added {
  color: #0c0;  /* For contrast; "green" is actually #008000. */
}

.removed {
  color: red;
}

.line-numbers {
  color: blue;
}
